<div class="container">
    <div class="card text-center espacio">
        <div class="card-header">
            Casio 2020 
        </div>
        <div class="card-body ">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-7">
                    <app-body-calculator></app-body-calculator>
                </div>
                <div class="col-md-3">

                </div>
                
            </div>
            
        </div>
        <div class="card-footer text-muted">
            By Diego Villa
        </div>
    </div>
</div>



