<div class="container">
    <div class="image-main">
        <img src="../assets/Img/img-principal-home.png" alt="imagen">
        <h1>Tu Calculadora On Line</h1>
        <p>Realiza Todas Tus Operaciones Matematicas</p>
    </div>
    <div class="text">
        <h2>Nuestra Aplicacion Web</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic magni odio nisi earum obcaecati illo sint amet consequatur reprehenderit, rerum repellat quod id cum eius, voluptas laborum dolorum harum pariatur.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis consectetur necessitatibus quae, illum alias reiciendis provident natus similique beatae, officia nobis incidunt autem eveniet aut aliquid qui illo cupiditate doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ea nobis et omnis iusto, assumenda dignissimos architecto quasi rem dolorum magni natus quo! Similique, praesentium laudantium minima dolorem provident eaque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem mollitia facilis eos nulla culpa dolor aperiam laborum qui! Necessitatibus perferendis eveniet est mollitia architecto nobis amet! Labore consequuntur cumque eius!
        </p>
    </div>
</div>
